.container {
    background-color: $bg-soft;
    width: 100%;
    border-top: 1px solid $color-border;
    padding: $space-9 0;
}
.content {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.items {
    margin-top: $space-4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: $space-3;

    @include tablet(){
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include desktop(){
        display: flex;
        align-items: center;
        gap:$space-3;
        justify-content: center;
        
        p {
            font-weight: 700;
            color: $foreground-muted;
            letter-spacing: 2px;
        }
    }
}